* {
    margin: 0;
    padding: 0;
}

#wrap {
    background-color: white;
    box-shadow: grey 5px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
}

dd {
    visibility: hidden;
    background-color:white;
}

dd p {
    background-color: aqua;
    margin-bottom: 1px;
}

dl {
    background: greenyellow;
    margin-bottom: 2px;
}

dl dt {
    height: 31px;
}